@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

/* *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */

/* body {
	width: 100%;
	height: 100vh;
	font-family: "Inter";
	display: grid;
	place-content: center;
	margin: 0;
	background: radial-gradient(circle at center, #181836, #111126);
} */



.SideBarProf .navwrapper {
	width: 14rem;
	height: 100vh;
	display: flex;
	gap: 1rem;
	position: fixed;
	top: 50%;
	left: 0%;
	transform: translate(-0%, -50%);
	z-index:11111  ;
}

.SideBarProf .nav {
	width: min-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #1f1f4c;
	border-top-right-radius: 1.5rem;
	border-bottom-right-radius: 1.5rem;
	/* border-radius: 1rem; */
	padding: 0.5rem;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

.SideBarProf .navbutton {
	position: relative;
	display: flex;
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 0.5rem;
	overflow: hidden;
	isolation: isolate;
	transition: width 300ms;
	cursor: pointer;
	text-decoration: none;
	margin: 15px 0px;
}

/* .SideBarProf .nav:has(.navbutton:hover)>.navbutton,
.SideBarProf .nav.demoanim>.navbutton {
	width: 14rem;
} */

.SideBarProf .nav:hover>.navbutton,
.SideBarProf .nav:hover>.SideBarProf .nav.demoanim>.navbutton {
	width: 14rem;
}

.SideBarProf .navbutton:after {
	position: absolute;
	content: "";
	inset: 1rem;
	background: #292960;
	border-radius: 0.5rem;
	z-index: -2;
	opacity: 0;
	transition: inset 300ms, opacity 300ms;
}

.SideBarProf .navbutton:hover:after,
.SideBarProf .nav.demoanim .navbutton.demoanimhover:after {
	inset: 0;
	opacity: 1;
}

.SideBarProf .navicon {
	flex-shrink: 0;
	position: relative;
	width: 3.5rem;
	display: grid;
	place-content: center;
	padding-bottom: 0.125rem;
	font-size: 1.375rem;
	--ionicon-stroke-width: 40px;
	color: #c9c9ff;
}

.SideBarProf .navicon:after {
	position: absolute;
	content: "";
	inset: 1rem;
	background: #323276;
	border-radius: 0.5rem 0 0 0.5rem;
	z-index: -1;
	opacity: 0;
	transition: inset 300ms, opacity 300ms, border-radius 300ms ease;
}

/* .nav:not(:has(.navbutton:hover), .demoanim)  */

.SideBarProf .navbutton.selected>.navicon:after {
	inset: 0;
	opacity: 1;
	border-radius: 0.5rem;
}

.SideBarProf .navbutton:hover>.navicon:after,
.SideBarProf .nav.demoanim .navbutton.demoanimhover>.navicon:after {
	inset: 0;
	opacity: 1;
}

.SideBarProf .navlabel {
	flex-shrink: 0;
	display: grid;
	place-content: center;
	padding-bottom: 0.125rem;
	padding-left: 0.5rem;
	font-size: 1.125rem;
	color: #c9c9ff;
}





/* MEDIA QUERIES  */
/* @media screen and (max-width: 1200px) { */
	/* .SideBarProf .navwrapper {
		width: 100rem;
		height: 10vh;
		display: flex;
		gap: 1rem;
		position: fixed;
		 top: 0%;
		left: 50%;
		/* transform: translate(-50%, -0%); */
	/* } */ 

	/* .SideBarProf .nav {
		width: min-content;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		background: #1f1f4c;
		/* border-top-right-radius: 1.5rem; */
		/* border-bottom-right-radius: 1.5rem; */
		/* border-radius: 1rem; */
		/* padding: 0.5rem;
		box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
	} */
/* 
	.SideBarProf .nav:hover>.navbutton,
	.SideBarProf .nav:hover>.SideBarProf .nav.demoanim>.navbutton {
		width: 3.5rem;
	} */
/*  */
/* } */


/* @med:ia screen and (max-width: 768px) { */
	
/* } */